.edit-address-parent{
    padding: 0.2cm 0.3cm;
    width: 100%;
    height: 100%;
    color: rgb(39, 40, 43);
    overflow-y: auto;
}

.edit-address-parent h2{
    padding: 0.2cm;
    border-radius: 0.2cm;
}

.edit-address-section-header{
    display: flex;
    flex-direction: column;
    padding: 0.2cm;
    /* border-bottom: 0.4mm solid rgb(183, 183, 183); */
}

.edit-address-section-header h5{
    display: flex;
    align-items: center; 
}
.edit-address-section-header text{
    display: flex;
    align-items: center; 
}



.edit-address-section-header span{
    border-bottom: 0.6mm solid rgb(183, 183, 183);
    width: 100%;
}


/* PROFILE COLUMNS */
.edit-address-credentials{
    display: flex;
    width: 100%;
    padding-bottom: 0.7cm;
}
.edit-address-credentials-left{
    padding: 0.2cm;
    width: 70%;
    /* border: 0.1mm solid red; */
}
.edit-address-credentials-right{
    width: 30%;
    padding: 0.4cm 0.6cm;
}

.edit-address-credentials-left p{
    margin-top: 0.5cm;
    font-size: 0.35cm;
}

.save-btn{
    background-color: rgb(50, 130, 205);
    border: 0.2mm solid black;
    width: fit-content;
    border-radius: 0.1cm;
    color: whitesmoke;
    margin-top: 0.2cm;
    font-size: 0.55cm;
    padding: 0.05cm 0.8cm;
}
.save-btn:hover{
    background-color: rgb(43, 109, 171);
}

/* INPUT COMPONENTS */
.edit-address-input-div{
    display: flex;
    flex-direction: column;
    padding: 0.2cm 0cm;
    justify-content: center;
    margin-right: 0.2cm;
    /* border: 0.2mm solid red; */
}
.edit-address-input-div input{
    border: 0.2mm solid rgb(101, 101, 101);
    background-color: rgb(205, 205, 205);
    border-radius: 0.1cm;
    width: 99%;
    min-width: 7cm;
    padding: 0.2cm 0.5cm;
}

.edit-address-input-div label{
    font-weight: 600;
    font-size: 0.5cm;
    margin-bottom: -0.05cm;
}


@media only screen and (max-device-width:680px) {
    .edit-address-parent{
        padding: 0.2cm 0.3cm;
        
    }

    .edit-address-credentials{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .edit-address-credentials-left{
        padding: 0.2cm;
        width: 100%;
        /* border: 0.1mm solid red; */
    }
    .edit-address-credentials-right{
        width: 100%;
        padding: 0.4cm 0.3cm;
        /* border: 0.1mm solid red; */
    }

    
    .edit-address-credentials-left p{
        margin-top: 0cm;
        font-size: 0.35cm;
    }

    .edit-address-input-div input{
        width: 100%;
    }
}