.track-orders-parent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 0.2mm solid red; */
    background-color: rgb(214, 214, 214);
    z-index: 6;
}

.track-orders-navbar{
    display: flex;
    justify-content: center;
     background-color: rgb(47, 48, 52);
     color: whitesmoke;
     /* background-color: rgb(208, 208, 208); */
     box-shadow: 0px 3px 8px rgb(0, 0, 0,0.25);
     padding: 0.15cm 0.5cm;
     font-size: 0.6cm;
}

.track-orders-list{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 0.2mm solid red; */
    width: 100%;
    height: 93%;
    overflow-y: auto;
}

.track-orders-list-card{
    margin-top: 0.2cm;
    border: 0.2mm solid rgb(162, 162, 162);
    box-shadow: 0px 4px 4px rgb(0, 0, 0,0.3);
    background-color: rgb(228, 228, 228);
    width: 20cm;
    /* height: 95%; */
    height: fit-content;
    padding: 0.3cm;

}

.track-orders-product-lists label{
    display: flex;
    border: 0.2mm solid green;
    /* justify-content: flex-start; */
    padding: 0cm 0.3cm;
    font-size: 0.55cm;
    width: 49%;
}

.track-orders-final-price{
    display: flex;
    flex-direction: column;
    margin-top: 0.1cm;
    border: 0.2mm solid rgba(49, 49, 49, 0.345);
    background-color: rgb(233, 233, 233);
    width: 100%;
    font-size: 0.55cm;
    /* box-shadow: 0px 3px 7px rgb(0, 0, 0,0.2); */
}

.track-orders-final-price div{
    display: flex;
    width: 100%;
    
    /* border: 0.2mm solid rgb(35, 210, 8); */
}

.track-orders-final-price label{
    margin-top: 0.2cm;
    padding: 0.1cm 0.3cm;
    color: rgb(58, 58, 58);
    /* border: 0.2mm solid red; */
    width: 50%;
    font-size: 0.55cm;
}

.track-orders-heading{
    display: flex;
    font-size: 0.58cm;
    margin-top: 0.1cm;
    padding: 0cm 0.3cm;
    flex-direction: column;
    background-color: rgb(47, 47, 47);
    /* background-color: rgb(17, 151, 224); */
    color: whitesmoke;
    user-select: none;
}


.track-orders-address{
    /* width: 19.4cm; */
    padding: 0.1cm 0.4cm;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    border: 0.2mm solid rgb(0, 0, 0, 0.25); 
}

.track-orders-address label{
    margin-bottom: -0.05cm;
}

.track-orders-tracking-div{
    /* margin-top: 0.2cm; */
    padding: 0.1cm 0.2cm;
    border: 0.2mm solid rgb(171, 171, 171);
    background-color: rgb(238, 238, 238);
}

/* INPUT COMPONENT WHICH DIFFERENT FROM DEFAULT EXPORT */
.track-orders-input-div{
    display: flex;
    flex-direction: column;
    padding: 0.2cm 0cm;
    justify-content: center;
    margin-right: 0.2cm;
    /* border: 0.2mm solid red; */
}
.track-orders-input-div input{
    border: 0.2mm solid rgb(101, 101, 101);
    background-color: rgb(205, 205, 205);
    border-radius: 0.1cm;
    margin-top: 0cm;
    width: 80%;
    min-width: 7cm;
    padding: 0.1cm 0.5cm;
}

.track-orders-input-div label{
    font-weight: 600;
    font-size: 0.5cm;
    margin-bottom: -0.025cm;
}


@media only screen and (max-device-width:800px) {
    .track-orders-list-card{
        margin-top: 0cm;
        /* border: 0.2mm solid rgb(141, 141, 141); */
        box-shadow: 0px 4px 4px rgb(0, 0, 0,0.3);
        width: 100%;
        height: fit-content;
        padding: 0.1cm;
    }
    .track-orders-final-price{
        display: flex;
        border: 0.2mm solid rgb(168, 168, 168);
        width: 100%;
        padding: 0.1cm;
    }
    .track-orders-final-price label{
      
        font-size: 0.5cm;
    }
    


    .track-orders-payment input{
        transform: scale(1.25);
        
    }
    
    .track-orders-payment div{

        padding: 0.3cm 0.4cm;
        
    }
}



/* COMPONENT CSS */

.tracking-container {
    text-align: center;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 2px;
    /* max-width: 300px; */
    margin: 10px 0px;
  }
  
  .status-container {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .custom-button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    color: black;
    background-color: #ddd;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  .active:hover{
    background-color: #409642;
    color: white;
  }
  